## Gersemi configuration for ITKCudaCommon (no CMake/stubs)
# yaml-language-server: $schema=https://raw.githubusercontent.com/BlankSpruce/gersemi/0.19.3/gersemi/configuration.schema.json

disable_formatting: false
extensions: []
# use ITK preferred 2 space indent
indent: 2
line_length: 80
list_expansion: favour-expansion
unsafe: false
warn_about_unknown_commands: false
