set(CTEST_SITE "AppVeyor")
set(CTEST_BUILD_NAME "RTK-${APPVEYOR_BRANCH}-${PULL_REQUEST_NUMBER}")
set(CTEST_BUILD_CONFIGURATION ${CONFIG_TYPE})
set(CTEST_CMAKE_GENERATOR ${GENERATOR})
set(CTEST_SOURCE_DIRECTORY ${SRC_DIR})
set(CTEST_BINARY_DIRECTORY ${BIN_DIR})

ctest_start(Experimental)
ctest_configure(OPTIONS "-DITK_DIR=${ITK_DIR}")
CTEST_READ_CUSTOM_FILES("${CTEST_BINARY_DIRECTORY}")
ctest_build()
ctest_test()
ctest_submit()
